@font-face {
  font-family: "Roboto";
  src: url("../dist/fonts/Roboto/Roboto-Medium.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
$fuente-personalizada: "Roboto", sans-serif;
$header-bg: #23202e;
$main-bg: rgb(83, 80, 78);
$header-main: #2c2825;
$text-color: #c4bba0;
$text-title-color: rgba(226, 181, 123, 1);
$text-title-color-active: rgb(233, 121, 255);
$primary-color: #0b0b0ecc;
$primary-color-solid: #0b0b0e;
$active-color: rgba(27, 10, 33, 1);
$gradient-background: linear-gradient(
  270deg,
  rgba(7, 7, 10, 1) 0%,
  rgba(7, 7, 10, 1) 85%,
  rgba(64, 57, 96, 0) 93%
);
$gradient-background-active: linear-gradient(
  270deg,
  rgba(27, 10, 33, 1) 0%,
  rgba(45, 17, 55, 1) 80%,
  rgba(64, 57, 96, 0) 93%
);
$rhombus-gradient-active: linear-gradient(to left, #161216, #5d2e72, #e8acff);
$rhombus-gradient: linear-gradient(to left, #252530, #4d4b66, #9f9fcc);
* {
  margin: 0;
  padding: 0;
  font-family: $fuente-personalizada;
  font-size: 16px;
}
body {
  background: {
    image: url(../dist/img/wallpaper.jpg);
    size: cover;
    position: center;
    repeat: no-repeat;
  }
}
.burger-display {
  top: 0;
  left: 0;
  background-color: $main-bg;
  color: $text-color;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: start;
  nav {
    width: 100%;
    ul {
      list-style: none;
      list-style-type: none;
      padding: 0;
      cursor: pointer;
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 24px;
      li {
        border-top: 1px solid $main-bg;
        border-bottom: 1px solid $main-bg;
        width: 100%;
        display: flex;
        justify-content: start;
        background: $primary-color;
        padding: 24px;
        transition: background-color 0.3s linear;
        .title {
          h1 {
            font-size: 24px;
            color: $main-bg;
            margin-bottom: 4px;
          }
          p {
            color: $text-color;
          }
        }
        &.active {
          background: $active-color;
          .title {
            h1 {
              color: $text-title-color-active;
            }
            p {
              color: #c4a0b5;
            }
          }
        }
      }
    }
  }
  &.active {
    display: block;
  }
  .title-close {
    padding: 24px;
    align-items: center;
    display: flex;
    justify-content: end;
    h1 {
      font-size: 24px;
      color: $primary-color;
    }
    .close-icon {
      font-weight: bold;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
.container-header {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  height: 80px;
  padding: 24px 0px 24px 0px;
  .title {
    padding: 0px 0px 0px 100px;
    text-align: center;
    color: $text-color;
    .text {
      font-size: 36px;
      background: linear-gradient(
        351deg,
        rgba(69, 53, 39, 1) 0%,
        rgba(191, 146, 106, 1) 52%,
        rgba(226, 181, 123, 1) 80%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
  .img {
    z-index: 0;
    top: 0;
    left: 32px;
    position: absolute;
    width: 300px;
    height: 250px;
  }
  .img-divider {
    position: absolute;
    left: 32px;
    top: -140px;
    width: 300px;
    height: 250px;
  }
  .rss {
    padding: 24px;
    display: flex;
    gap: 16px;
    a .icon {
      background: $primary-color-solid;
      cursor: pointer;
      border: 1px solid $main-bg;
      display: flex;
      padding: 8px;
      text-align: center;
      align-items: center;
      .svg-icon {
        width: 24px;
        height: auto;
        fill: $text-title-color;
      }
      &:hover {
        background: rgba(45, 17, 55, 1);
      }
    }
  }
  .burger-menu {
    display: none;
  }
}
.container-main {
  display: flex;
  width: 100%;
  height: calc(100vh - 136px);
  background-color: $primary-color;
  justify-content: start;
}
.container-aside {
  padding-top: 16px;
  width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  .title {
    margin-left: 24px;
    h1 {
      color: $main-bg;
      margin-bottom: 4px;
    }
    p {
      color: $text-color;
    }
  }
  .icon {
    width: 50px;
    height: 50px;
    background: $rhombus-gradient;
    border: 1px solid #78769e;
    transform: rotate(225deg);
  }
  nav {
    ul {
      list-style: none;
      list-style-type: none;
      padding: 0;
      cursor: pointer;
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: 56px;
      li {
        align-items: center;
        margin: 0px 24px;
        border-right: 1px solid #23202e;
        display: flex;
        justify-content: start;
        background: $gradient-background;
        transition: background-color 0.3s linear;
        .title {
          h1 {
            font-size: 19px;
          }
        }
        &.active {
          border-right: 1px solid $text-title-color-active;
          background: $gradient-background-active;
          .icon {
            border: 1px solid #542e66;
            background: $rhombus-gradient-active;
          }
          .title {
            h1 {
              color: $text-title-color-active;
            }
            p {
              color: #c4a0b5;
            }
          }
        }
      }
    }
  }
}
.container-data {
  padding-top: 16px;
  position: relative;
  width: 100%;
  display: flex;
}
.container-data-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25%;
  left: 32px;
  top: 0;
  bottom: 0;
  box-shadow: 2px 3px 20px black, 0 0 125px #111110 inset;
  z-index: 10;
  background: #fffef0;
  filter: url(#wavy2);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: conic-gradient(
      #fff3,
      #fff0 2% 24%,
      #fff2 25%,
      #4321 0,
      #0000 27% 48%,
      #9632 50%,
      #fff2 0,
      #fff0 52% 73%,
      #9632 75%,
      #fff3 0,
      #fff0 78% 97%,
      #9632
    );
  }
  nav {
    position: relative;
    z-index: 1;
    padding: 8px;
    padding-top: 150px;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      list-style-type: none;
      padding: 0;
      li {
        padding: 16px;
        .title {
          display: flex;
          justify-content: start;
          text-align: center;
          flex-wrap: wrap;
          gap: 16px;
          svg {
            width: 27px;
            height: 45px;
            fill: $header-bg;
          }
          h1 {
            font-size: 24px;
          }
        }
        &.vertical-dots {
          display: flex;
          flex-direction: column; /* Coloca los puntos de forma vertical */
          align-items: center; /* Centra los puntos horizontalmente */
          justify-content: center; /* Centra los puntos verticalmente */
          height: 50px; /* Altura del contenedor */
          width: 25px; /* Ancho del contenedor */
        }
        .dot {
          width: 5px; /* Ancho de cada punto */
          height: 5px; /* Alto de cada punto (círculo) */
          background-color: black; /* Color del punto */
          border-radius: 50%; /* Hacer los puntos redondos */
          margin: 5px 0; /* Espacio entre los puntos */
        }
      }
    }
  }
}
.container-data-body {
  border: 8px ridge #6a615a;
  width: 100%;
  background-color: $main-bg;
  padding: 24px 36px;
}

// Media Query
@media (max-width: 768px) {
  .container-header {
    padding: 16px;
    justify-content: space-between;
    .title {
      padding: 0px 0px 0px 24px;
    }
    .img {
      left: -24px;
      height: 270px;
    }
    .burger-menu {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 24px;
      display: block;
      svg {
        width: 25px; /* Cambia el tamaño del SVG */
        height: auto; /* Mantiene la relación de aspecto */
        fill: $text-title-color; /* Cambia el color del SVG */
      }
    }
    .img-divider {
      display: none;
    }
    .rss {
      display: none;
    }
  }
  .container-aside {
    display: none;
  }
  .container-data {
    padding-top: 0px;
  }
  .container-data-header {
    top: auto;
    bottom: auto;
    left: 0;
    height: auto;
    width: 100%;

    nav {
      z-index: 1;
      padding: 8px;
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        li {
          flex-basis: 33%;
          flex-grow: 1;
          margin: 20px;
          &.vertical-dots {
            display: none;
          }
          &.dot {
            display: none;
          }
        }
      }
    }
  }
}
